h1 {
  text-align: center;
}

.column1 {
  float: left;
  width: 30%;
  padding: 5px;
  margin: 15px;
}

.row1::after {
  content: "";
  clear: both;
  display: table;
  margin: 15px;
}

.column2 {
  float: left;
  width: 30%;
  padding: 5px;
  margin: 15px;
}

.row2::after {
  content: "";
  clear: both;
  display: table;
  margin: 15px;
}

.column3 {
  float: left;
  width: 30%;
  padding: 5px;
  margin: 15px;
}

.row3::after {
  content: "";
  clear: both;
  display: table;
  margin: 15px;
}
